/*header*/
.App-header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: grid;
    /* place-items: center; Align items centrally within the grid */
  }
  
  .header-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Allocate space for left, center, and right */
    /*width: 100mw;  Full width */
    /*align-items: center;*/
  }
  
  .header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-left {
    justify-content: flex-start; /* Align content to the left */
  }
  
  .header-center {
    justify-content: center; /* Keep central content centered */
  }
  
  .header-right {
    justify-content: flex-end; /* Align content to the right */
  }
  
  @media (max-width: 400px) {
    .App-header {
      flex-direction: column;
    }
    .header-left, .header-center, .header-right {
      width: 100%;
      justify-content: center; 
    }
    .header-container {
      /*grid-template-columns: 1fr;*/
      grid-template-rows: auto auto auto;
    }
  }